* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 32px;
   
}
body, html{
    overflow-x: hidden;
}

body {
    font-size: 20px;
    margin: 0;
    background-color:  #f9f7f4;
    
}

a {
    text-decoration: none;
    color: inherit;

}

ul {
    list-style: none;
}

        /* Header e navegação */

ul {
    list-style: none;
}

.logo {
    width: 140px;
    object-fit: cover;
}



/* Header e navegação */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 80px;
    padding: 15px 20px;
    transition: .4s;
}

header:hover{
    background-color: #0000005b;
}
.navbar {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: 14px;
}


.nav-links {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 20px;
}

.nav-links li a {
    color: rgb(255, 255, 255);
    transition: .4s;
    margin: 4px;
    font-size: 15px;
}

.nav-links li a:hover {
    text-decoration: underline;
}


.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;
}

.hamburger .bar {
    width: 30px;
    height: 1px;
    background-color: white;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 900px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333333c7;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        gap: 10px;
    }

    .nav-links li {
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}
        
/*LOGO com transição*/

.logo-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px; 
    background-attachment: fixed;
}

.video-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-image: url("../imagem/5.jpg"); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.video-container img {
    display: none;
  }

.banner{
    background-attachment: fixed;
    background-size: cover;
}

.titulo {
    width: 200px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f7f4;
    font-size: 3rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.titulo.visible {
    opacity: 1;
}


@media (max-width: 768px) {
    .nav2 {
        font-size: 2rem;
        display: flex;
        justify-content: center;

    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 2rem;
        width: 150px;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 1.5rem;
        width: 120px;
    }
}

/*frse abaixo do vdo*/

.frases{
    color: #333333d8;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.frases p{
    width: 60%;
    text-align: center;
}


    /*container com fotos*/




.container {
   
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

    /* Cada container de imgem */
.image-container {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

    
.image-container img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease; 
}

    /* Overlay com texto */

overlay{
    text-align: center;
    position: absolute;
    top: 70%; /* Ajustando a posição para o centro da tela */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

overlay p{
    font-size: 4vw;
    margin-top: 6%;
    max-width: 90%;
    line-height: 1.5;
}

overlay h1{
    font-size: 10vw;
    font-weight: bold;
    margin-bottom: 20px;
 }

overlay a{
    background-color: #f9f7f45a;
    border-radius: 20px;
    border: 2px solid #000000;
}


@media (max-width: 768px) {
   .image-container {
        width: 100%;
}
}

    
@media (max-width: 480px) {
.image-container {
        width: 100%; 
        height: 250px;
}
}

/*categorias*/

.nav2 {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 0;
}

.nav2 .ul2 {
    color: #f9f7f4;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav2 .ul2 li {
    display: inline;
    height: 4dvi;
    border-radius: 100%;
    transition: .3s;
}


.nav2 .ul2 li a {
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    transition: .4s;
}

.nav2 .ul2 li a:hover {
    color: #4b4c46;
    border-radius: 5px;
    text-decoration: underline;
    
}


@media screen and (max-width: 768px) {
    .nav2 .ul2 {
        flex-direction: column;
        align-items: center;
    }

    .nav2 .ul2 li {
        width: 100%;
        text-align: left;
    }

    .nav2 .ul2 li a {
        font-size: 16px; 
        padding: 10px 15px;
    }
}


@media screen and (max-width: 480px) {
    .nav2 .ul2 li a {
        font-size: 14px; 
        padding: 8px 12px; 
    }
}

/* Containers dos produtos */

.product-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.product-container2 a{
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px;
    font-size: 15px;
}

.Button-espaçamento{
    margin-top: 20px;
    transition: .2s;
}

.Button-espaçamento:hover{
   transform: scale(1.1);
}

.product2 {
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
    width: 23%;
    margin-bottom: 20px;
    
}

.product2 img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.product2 p {
    margin-top: 10px;
    font-size: 16px;
}


.product2.visible {
    display: block;
    opacity: 1; 
}


/* Responsividade */
@media (max-width: 768px) {
    .product2 {
        width: 48%; 
    }
}

@media (max-width: 480px) {
    .product2 {
        width: 90%; 
    }
}

.favorite-btn {
    background: none;
    border: none;
    font-size: 35px;
    color: #ccc; 
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px;
  
}

.favorite-btn.favorito .heart-icon {
    color: #ff0000;
    transform: scale(1.2); 
    font-size: 35px;
}

.favorite-btn:hover{
    transform: translateY(-20%);
    font-size: 35px;
}

.product2 {
    position: relative;
    padding: 10px;
    text-align: center;
    width: 23%;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .product2 {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .product2 {
        width: 90%;
    }
}

 
   /*Container1*/


.container-slides {
  
    display: flex;
    flex: 1;
    background-color: #f9f7f4;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 20px;
}

/* Lado do texto */

.text-side {
    text-align: center;
    padding-top: 20% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

/* Lado do slide */
.slider-side {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}

/* Estilo do slider */
.slides {
    display: flex;
    transition: transform 0.5s ease;
    
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 80%;
    height: 550px;
    border-radius: 5px;
    object-fit: cover;

}


/* Responsividade */
@media (max-width: 768px) {
.container-slides {
    flex-direction: column;
}
.slider-side, .text-side {
    flex: none;
    width: 100%;
}
}

/* Botões de navegação dos slides */
.prev, .next {
    background-color: #f9f7f4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f7f4;
    font-size: 12px;
  }


    /*footer*/ 



.containers{
    max-width: 1170px;
    margin: auto;
   
}



.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    margin: 30px;
}

ul{
    list-style: none;
}

.footer{
    background-color: #161616;
    padding:  70px 0;
}
.footer-col{
    padding: 0 15px;
}


.footer-col h4{
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
}


.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #3a4b53;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}



.footer-col ul li a{
    font-size: 12px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
    font-size: 15px;
}

.footer-col ul li a:hover{
    color: #c4c4c4;
    
}

                     
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f7f4;
    font-size: 12px;
}